################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GranitoPagamento.APICalculo/obj
/GranitoPagamento.Business/obj
/GranitoPagamento.DTO/obj
/GranitoPagamento.Proxy/obj
/GranitoPagamento.Taxas/obj
/GranitoPagamento.Test/obj
